<!DOCTYPE html>
<html>
	<head>
    </head>
	<body>
    <h2> Welcome to PizzaShop</h2>
 
  <div class="row">
  
      <% @products.each do |pizza| %>
      <div class="col-md-3">
        <div>
          <%= pizza.title %>
        </div>

        <div>
          <img src="<%= pizza.path_to_image %>" hspace="1%" vspace="1%" width="200" height="200" />
        </div>

        <div>
          <%= pizza.description %>
        </div>
        
        <div>
          Size: <%= pizza.size %> cm
        </div>

        <div>
          Price: <%= pizza.price %> rub
        </div>

        <div>
          <button class="btn btn-success btn-sm" onclick="add_to_cart(<%= pizza.id %>)">Add to cart</button>
        </div>

      </div>
      <% end %>
  </div>

<br />
<button class="btn btn-primary" onclick="something()">Click me</button>

<script type="text/javascript">

$(function() {

  //Js Код ниже который исполнится после загрузки страницы
  // в поле сверху вставится содержимое localstorage

  //обновить данные отправленные на сервер, localstorage
  update_orders_input();

  //обновить отображаемое число заказов в корзине
  update_orders_button()
});

</script>

</body>
</html>